
.navbar {
    background-color: darkblue;
}

.navbar-brand {
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-link {
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding-right: 10px;
}

.nav-link:hover {
    color: black;
}

.active {
    border-bottom: 3px solid white;
    
}

.h1 {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    font-weight: 549;
}

marquee {
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 255, 255);
    background-color: darkblue;
    border-radius: 10px;
    padding: 5px;
}

#container {
    height: 30px;
}

#flo {
    width: 60px;
    height: 60px;
    background-color: rgb(204, 0, 255);
    border-radius: 50%;
}

#btn0 {
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#btn0:hover {
    background-color: blueviolet;
    font-size: 25px;
}